.site-content {
  min-height: 100vh !important;
  padding: 20px;
}
.site-content-layout {
  margin-top: 20px;
  padding: 20px;
  background: #fff;
}

.loading {
  text-align: center;
  font-size: 2rem;
}
